/* Import Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
     font-family: Nova Square;
}
/* Hex codes: Pastel Orange #FFA351, Peach #FFBE7B, Custard #EED971 */
/* blue colors */
/* dark blue:  #004aad     */
/* bright blue: #38b6ff  */



.box {
     width: 100%;
     height: 600px;
     padding: 40px 60px;
     color: #38b6ff;
     font-family: sans-serif;
     text-align: center;
    
}

.mainTitle {
     font-family: 'Courier New', Courier, monospace;
     display: flex;
     justify-content: center;
     align-items: center;

     width: 550px;
     height: 200px;
     background: 0, 0, 0, 0.8;

     color: #38b6ff;
     font-size: 48px;
     border-radius: 3rem;
     border: 1px;
     box-shadow: 5px, 5px, 16px, 0px rgba(0, 0, 0, 0.5);

}

.section-1 {
     height: 100vh;
     background-image: url("/static/img/arrowdownblue.png");

     background-attachment: fixed;
     background-size: cover;
     background-position: center;
     background-size: cover;
     border: solid 2px rgb(0, 0, 0);
}

.section-2 {
     background: #004aad;
     border: solid 2px rgb(0, 0, 0);
}

.section-3 {
     background-image: url("/static/img/ben-neale-zpxKdH_xNSI-unsplash.jpg");
     background-attachment: fixed;
     background-size: cover;
     background-position: center;
     background-size: cover;
     border: solid 2px rgb(0, 0, 0);
}

.section-4 {
     min-height: 52rem;
     background: #202020;
     border: solid 2px rgb(0, 0, 0);
     background-color: #000000;
}

.box p {
     font-size: 1rem;
     margin-top: 100px;
     text-shadow: 0px 0px 5px #000000;
}

.box h1 {
     font-size: 40px;
     text-shadow: 0px 0px 5px #000000;
}

/* Animation welcome text */
/*  https://www.youtube.com/watch?v=R3UGK1RhY6I  */

.animated-text{
     font-size: 34px;
     font-weight: 600;
     min-width: 280px;
     font-family: 'Courier New', Courier, monospace;
 }
 
 .animated-text span{
     position: relative;
 }
 
 .animated-text span::before{
     content: "Challenge";
     color: #ffffff;
     animation: words 20s infinite;
 }
 
 .animated-text span::after{
     content: "";
     position: absolute;
     width: calc(100% + 8px);
     height: 100%;
     background-color: black;
     border-left: 2px solid #ffffff;
     right: -8px;
     animation: cursor .8s infinite, typing 20s steps(14) infinite;
 }
 
 @keyframes cursor {
     to{
         border-left: 2px solid #ff7f5000;
     }
 }
 
 @keyframes words {
     0%,20%{
         content: "Challenge";
     }
     21%,40%{
         content: "Strategy";
     }
     41%,60%{
         content: "Competition";
     }
     61%,80%{
         content: "Nostalgia";
     }
     81%,100%{
         content: "Achievement";
     }
 }
 
 @keyframes typing {
     10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
         width: 0;
     }
     5%,20%,25%,40%,45%,60%,65%,80%,85%{
         width: calc(100% + 8px);
     }
 }
