* {
     font-family: Nova Square;
}

body {
     background-color: black;
}

.high-score-card {
     box-shadow: 0 4px 8px 0 #3096d0;
     transition: 0.3s;
     border-radius: 5px;
     color: #38b6ff;
     padding: 10px;
     margin: 10px;
     max-width: 26rem;
     cursor: pointer;
}

.high-score-card:hover {
     box-shadow: 0 8px 16px 0 #d08b30;
}

table{
     text-align: center;
}

th, tr, td{
     border: 2px solid white;
     padding: 10px;
}