* {
     font-family: Nova Square;
}

body {
     background-color: black;
}

header {
     position: static;
}

.high-score-card {
     transition: 0.3s;
     border-radius: 5px;
     color: #38b6ff;
     max-width: 26rem;
     margin-left: auto;
     margin-right: auto;
     margin-top: 5rem;
}

table {
     text-align: center;
     color: #3096d0;
}

th, tr, td {
     border: 2px solid white;
     padding: 10px;
}

/* Logout */
input{
     border: transparent;
     background-color: transparent;
}
 
input:hover{
     color: #ffffff;
}